<div class="min-h-screen bg-slate-50 flex flex-col [--app-header-h:64px]">
  <!-- Header global (fijo) -->
  <app-header class="fixed inset-x-0 top-0 z-50"></app-header>

  <app-notifications></app-notifications>

  <main class="flex-1 pt-[var(--app-header-h)]">
    <!-- Wrapper global para alinear TODO -->
    <div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8 py-6 lg:py-8">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-login-modal></app-login-modal>

  <!-- Footer -->
  <app-footer></app-footer>
</div>